<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UPN Song - Iniciar Sesión</title>
    <link rel="stylesheet" href="loginStyle.css" />
  </head>

  <body>

    <header>
      <div class="logo">
        <a href="/src/index.html">
          <img src="/src/assets/images/upn-sound.png" />
        </a>
      </div>
    </header>

    <section>
      <div class="main">
        <h1>Inicia sesión en UPN Sound</h1>
        <hr />

        <div class="login">
          <form>
            <label>Correo Institucional UPN</label>
            <input type="text" placeholder="codigo@upn.pe" />

            <label>Contraseña</label>
            <input type="text" placeholder="contraseña" />

            <div class="switch">
              <input type="checkbox" id="switch" checked />
              <label for="switch"></label>
              <span>Recuérdame</span>
            </div>
            
            <a class="button-link" href="/.src/index.html">Iniciar Sesión</a>

          </form>
        </div>

        <div class="last">
            <a href="#">¿Has olvidado tu contraseña?</a>
          </div>

        <hr />

        <div class="last">
          <span>¿No tienes cuenta?</span>
          <a href="/src/view/register/register.html">Regístrate en UPN Sound</a>
        </div>
      </div>
    </section>
  </body>
</html>