<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UPN Song - Registro</title>
    <link rel="stylesheet" href="register.css" />
  </head>

  <body>

    <header>
      <div class="logo">
        <a href="/src/index.html">
          <img src="/src/assets/images/upn-sound.png" />
        </a>
      </div>
    </header>

    <section>
      <div class="main">
        <h1>Regístrate y haz que tu contenido se adapte a ti.</h1>
        <hr />

        <div class="register">
          <form>
            <label>Correo Institucional UPN</label>
            <input type="text" placeholder="codigo@upn.pe" />

            <label>Crea tu contraseña</label>
            <input type="text" placeholder="Crea tu contraseña" />

            <label>Confirma tu contraseña</label>
            <input type="text" placeholder="Confirma tu contraseña" />

            <label>Nombre de perfil</label>
            <input type="text" placeholder="Ingresa un nombre de perfil" />

            <div class="switch">
              <input type="checkbox" id="switch" checked />
              <label for="switch"></label>
              <span>Recuérdame</span>
            </div>
            
            <a class="button-link" href="/src/index.html">Registrarme</a>

          </form>
        </div>

        <hr />

        <div class="last">
          <span>¿Tienes una cuenta?</span>
          <a href="#">Inicia sesion</a>
        </div>
      </div>
    </section>
  </body>
</html>