/* Import de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	/* Tamaño fuente para todo el archivo */
	font-size: 62%; 
}

body {
	font-family: 'Rubik';
}

.container {
	display: grid;
	grid-template-columns: 30rem 1fr;
	grid-template-rows: min-content 1fr min-content;


}


/*Estilos TopBar*/

.topbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 2rem;
	background-color: #101010;

	position: fixed;
	z-index: 30;
	top: 0;
	right: 0;
	width: calc(100% - 30rem);
}

.container-arrows {
	display: flex;
	gap: 3rem;
}

.container-arrow-left,
.container-arrow-right {
	background-color: #0a0a0a;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-arrow-left i,
.container-arrow-right i {
	color: #fff;
	font-size: 1.4rem;
}

.buttons-user {
	display: flex;
	align-items: center;
	gap: 3rem;
}

.btn-register {
	color: #a7a7a7;
	font-weight: 700;
	text-decoration: none;
	font-size: 1.6rem;
}

.btn-register:hover {
	color: #fff;
	transform: scale(1.045);
}


.btn-premium:hover {
	color: #fff;
	transform: scale(1.045);
}

.btn-premium {
	color: #a7a7a7;
	font-weight: 700;
	text-decoration: none;
	font-size: 1.6rem;
}


.btn-login {
	text-decoration: none;
}

.btn-full {
	font-size: 1.6rem;
	color: #000;
	padding: 1.5rem 2rem;
	border-radius: 2rem;
	font-weight: 700;
	background-color: #fff;
	border: none;
	outline: none;
	cursor: pointer;
}

.btn-full:hover {
	transform: scale(1.04);
}


 /* Estilo ScrollBar  */
 ::-webkit-scrollbar {
	width: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
	background-color: #FFBA10;
	border-radius: 5px;
  }
  
  ::-webkit-scrollbar-track {
	background-color:#121212;
  }

/* Estilos Barra de navegación */

.navbar {
	
	background-color: #0c0c0c;
	color: #b3b3b3;
	padding-top: 2.4rem;

	grid-row: 1/3;
	grid-column: 1/2;

	display: flex;
	flex-direction: column;
	gap: 4rem;

	position: fixed;
	width: 30rem;
	height: 100%;

	overflow-y: auto; /* desplazamiento vertical cuando el contenido se desborde */
	
}

.logo-svg {
	color: #fff;
	width: 18rem;
	padding: 0 2.4rem;
}

.nav-main {
	padding: 0 2.4rem;

	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.nav-main li {
	list-style: none;
}

.nav-main li a {
	text-decoration: none;
	font-size: 1.6rem;
	color: #b3b3b3;

	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 2rem;
	font-weight: 600;
	text-overflow: ellipsis;
	transition: all 0.3s ease;
}

.nav-main li a:hover {
	color: #fff;
}

.nav-main li a i {
	font-size: 2rem;
}

.contacts{
	display: inline-flex;
	flex-direction: column;
	gap: 3rem;

	padding: 0 2.4rem;
	margin-top: 1.5rem;
	flex: 1;
}

.contacts button {
	border: none;
	outline: none;
	background: transparent;
	color: #b3b3b3;
	text-align: left;
	font-size: 1.6rem;
	font-weight: 600;

	display: flex;
	gap: 1.5rem;
	cursor: pointer;
	transition: all 0.3s ease;
}

.contacts button i {
	font-size: 2rem;
} 

.contacts button:hover {
	color: #fff;
}

.container-links {
	display: flex;
	flex-direction: column;
	padding: 0 2.5rem;

	gap: 2rem;
	margin-bottom: 5rem;
}

.btn-language {
	border: 1px solid #e2c400;
	background: none;
	color: #fff;
	padding: 1rem;
	width: 18rem;
	border-radius: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	font-family: inherit;
	font-weight: 700;
	font-size: 1.3rem;
	cursor: pointer;
	transition: all 0.3s ease;
}

.btn-language:hover {
	transform: scale(1.05);
}

.btn-language i {
	font-size: 1.8rem;
}

.container-links-legal {
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;

	margin-bottom: 3rem;
}

.container-links-legal a {
	text-decoration: none;
	color: #b3b3b3;
	font-size: 1.2rem;
}


/*Estilos Contenido Principal*/

.main-content {

	grid-column: 2/-1;

	background-color: #121212;
	padding: 2.5rem;

	display: flex;
	flex-direction: column;
	gap: 3rem;
}

.title-playlist {
	font-size: 2.4rem;
	color: #fff;
	cursor: pointer;
	font-weight: 600;
}

.title-playlist:hover {
	text-decoration: underline;
}

.container-name-recent,
.container-name-forMe {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 2rem;
}

.container-card-recent,
.container-card-forMe {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
	gap: 2.6rem;
}

.card-recent,
.card-forMe {
	background-color: #181818;
	border-radius: 0.5rem;
	padding: 1.6rem;
	box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
	transition: background-color 0.3s ease;
	cursor: pointer;
	position: relative;
}

.card-recent:hover,
.card-forMe:hover {
	background-color: #282828;
}

.card-img img {
	width: 100%;
	border-radius: 0.5rem;
}

.card-img {
	overflow: hidden;
}

.card h2 {
	margin-top: 1.5rem;
	margin-bottom: 1rem;
	font-size: 1.6rem;
	color: #fff;
	font-weight: 600;
}

.card p {
	font-size: 1.3rem;
	color: #b3b3b3;
	font-weight: 400;
	line-height: 1.5;
	text-overflow: ellipsis;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}


/* Clases dinamicas para el boton play*/
.transparent {
	opacity: 0.9;
}

.btn-play {
	width: 5rem;
	height: 5rem;

	display: flex;
	justify-content: center;
	align-items: center;

    background-color: #e2c400;
    border: none;
    outline: none;
    border-radius: 50%;
    position: absolute;
    top: 55%;
    left: 52%;
    transform: translate(50%, -50%);
    cursor: pointer;
}

.btn-play i{
    font-size: 2.3rem;
    padding-left: .5rem;
}


/*Estilo Pipe*/

.pipe {
    background: #fff;
    height: 25px;
    margin: 16px;
    width: 1px;
}

/*  Estilo icon friends*/
.btn-create-list {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    position: relative;
}

.user-avatar {
    position: relative;
    margin-right: 10px;
}

.user-status {
    position: absolute;
    bottom: 3px;
    right: 3px;
}


