<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <iframe src="/src/templates/header/header.html" width="100%" height="56px"></iframe>
    
    <div class="min-vh-100 d-flex flex-column justify-content-center">
        <h1 class="display-3 text-center">
            <div class="topbar">
				<div class="container-arrows">
					<div class="container-arrow-left">
						<i class="fa-solid fa-chevron-left"></i>
					</div>
					<div class="container-arrow-right">
						<i class="fa-solid fa-chevron-right"></i>
					</div>
				</div>
				<div class="buttons-user">
					<a href="#" class="btn-premium">Premium</a>
					<a href="#" class="btn-assits">Asistencia</a>
					<a href="#" class="btn-download">descargar</a>
					<div class="pipe"></div>
					<a href="#" class="btn-register">Registrarte</a>
					<a href="#" class="btn-login btn-full">Iniciar sesión</a>
				</div>
			</div>
        </h1>
    </div>

    <iframe src="/src/templates/footer/footer.html" width="100%" height="72px" class="bg-light"></iframe>
    
</body>
</html>