<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="unban-request.css">
</head>
<body>
    <main class="container">
        <!-- TopBar -->
			<div class="topbar">

			</div>

            <!-- Side bar -->
			<nav class="navbar">
				<div class="container-logo" style="margin-left: 80px;">
					<a href="#" class="link-logo">
							<img src="/src/assets/images/upn-sound.png" alt="upn-sound-img" style="width: 110px;">					
					</a>
				</div>
				<ul class="nav-main">
					<li>
						<a href="/src/view/moderator/moderator.html"> <i class="fa-solid fa-user-slash"></i>Usuarios Baneados</a>
					</li>
					<li>
						<a href="/src/view/moderator/unban-request/unban-rquest.html">
							<i class="fa-solid fa-ban"></i>Solicitudes de Desbaneo</a
						>
					</li>
				</ul>
	
				<div class="container-links">
					<button class="btn-language">
						<i class="fa-solid fa-sign-out"></i>
						Logout
					</button>
				</div>
			</nav>
            
            <section class="main-content">   
                <h1 class="title-playlist" style="padding-top: 65px;color: black;">Solicitudes de Desbaneo</h1> 
                <div class="container-request">               
                    <div class="request-list box" style="overflow-y: auto;">
                        <div class="contacts">
                            
                            <button class="btn-create-list">
                                <div style="margin: 15px;display: flex; flex-wrap: wrap;">
                                    <div class="user-avatar" style="display: flex;">
                                        <img src="/src/assets/images/logo.ico" style="width: 50px; border-radius: 50%;" alt="User Avatar">  
                                        <span style="padding-top: 15px;
                                        padding-left: 15px;">Mario Gomez</span>
                                    </div>                            
                                    <span class="span-2">hace 5 días</span>  
                                </div>                                                              
                            </button>
                            <button class="btn-create-list">
                                <div style="margin: 15px;display: flex; flex-wrap: wrap;">
                                    <div class="user-avatar" style="display: flex;">
                                        <img src="/src/assets/images/logo.ico" style="width: 50px; border-radius: 50%;" alt="User Avatar">  
                                        <span style="padding-top: 15px;
                                        padding-left: 15px;">Mario Gomez</span>
                                    </div>                            
                                    <span class="span-2">hace 1 semana</span>  
                                </div>                                                              
                            </button>
                            <button class="btn-create-list">
                                <div style="margin: 15px;display: flex; flex-wrap: wrap;">
                                    <div class="user-avatar" style="display: flex;">
                                        <img src="/src/assets/images/logo.ico" style="width: 50px; border-radius: 50%;" alt="User Avatar">  
                                        <span style="padding-top: 15px;
                                        padding-left: 15px;">Mario Gomez</span>
                                    </div>                            
                                    <span class="span-2">hace 1 mes</span>  
                                </div>                                                              
                            </button>
                            <button class="btn-create-list">
                                <div style="margin: 15px;display: flex; flex-wrap: wrap;">
                                    <div class="user-avatar" style="display: flex;">
                                        <img src="/src/assets/images/logo.ico" style="width: 50px; border-radius: 50%;" alt="User Avatar">  
                                        <span style="padding-top: 15px;
                                        padding-left: 15px;">Mario Gomez</span>
                                    </div>                            
                                    <span class="span-2">hace 5 horas</span>  
                                </div>                                                              
                            </button>
                            <button class="btn-create-list">
                                <div style="margin: 15px;display: flex; flex-wrap: wrap;">
                                    <div class="user-avatar" style="display: flex;">
                                        <img src="/src/assets/images/logo.ico" style="width: 50px; border-radius: 50%;" alt="User Avatar">  
                                        <span style="padding-top: 15px;
                                        padding-left: 15px;">Mario Gomez</span>
                                    </div>                            
                                    <span class="span-2">hace 5 minutos</span>  
                                </div>                                                              
                            </button>
                            <button class="btn-create-list">
                                <div style="margin: 15px;display: flex; flex-wrap: wrap;">
                                    <div class="user-avatar" style="display: flex;">
                                        <img src="/src/assets/images/logo.ico" style="width: 50px; border-radius: 50%;" alt="User Avatar">  
                                        <span style="padding-top: 15px;
                                        padding-left: 15px;">Mario Gomez</span>
                                    </div>                            
                                    <span class="span-2">hace 1 año</span>  
                                </div>                                                              
                            </button>
                            <button class="btn-create-list">
                                <div style="margin: 15px;display: flex; flex-wrap: wrap;">
                                    <div class="user-avatar" style="display: flex;">
                                        <img src="/src/assets/images/logo.ico" style="width: 50px; border-radius: 50%;" alt="User Avatar">  
                                        <span style="padding-top: 15px;
                                        padding-left: 15px;">Mario Gomez</span>
                                    </div>                            
                                    <span class="span-2">hace 2 meses</span>  
                                </div>                                                              
                            </button>
                            <button class="btn-create-list">
                                <div style="margin: 15px;display: flex; flex-wrap: wrap;">
                                    <div class="user-avatar" style="display: flex;">
                                        <img src="/src/assets/images/logo.ico" style="width: 50px; border-radius: 50%;" alt="User Avatar">  
                                        <span style="padding-top: 15px;
                                        padding-left: 15px;">Mario Gomez</span>
                                    </div>                            
                                    <span class="span-2">hace 5 meses</span>  
                                </div>                                                              
                            </button>
                            <button class="btn-favorite-songs" style="margin-bottom: 30px;">
                                <i class="fa-solid fa-caret-down"></i>
                                Ver mas Solicitudes
                            </button>
                        </div>
                    </div>
                    <div class="request-message box">
                        <div class="contacts">
                            <button >
                                <div style="margin: 15px;display: flex; flex-wrap: wrap;">
                                    <div class="user-avatar" style="display: flex;">
                                        <img src="/src/assets/images/logo.ico" style="width: 50px; border-radius: 50%;" alt="User Avatar">  
                                        <span style="padding-top: 15px;
                                        padding-left: 15px;">Mario Gomez</span>
                                         <span style="margin-left: 50px;">Cuenta creada el 28 de abril del 2021</span>  
                                    </div>                            
                                   
                                </div>                                                              
                            </button>
                            <h2>Me perdonas?,
                                Si te he fallado te pido perdón de la única forma que se
                                Abriendo las puertas de mi corazón</h2>
                            <hr>

                            
                                <div style="margin: 15px;display: flex; flex-wrap: wrap;">
                                    <div class="container-links">
                                        <button class="btn-language" style="border:1px solid #e2c400">
                                            <i class="fa-solid fa-thumbs-down"></i>
                                            Rechazar
                                        </button>
                                    </div> 
                                    <div class="container-links">
                                        <button class="btn-language" style="border:1px solid #e2c400">
                                            <i class="fa-solid fa-thumbs-up"></i>
                                            Quitar Ban
                                        </button>
                                    </div>                                                       
                                </div>                                                              
                            
                        </div>
                        
                    </div>
                  </div>

            </section>

    </main>
     <!-- Recurso y Script para el uso de iconos de FontAwesome -->
		<!-- 
			https://fontawesome.com/search?q=library&o=r
		 -->
		<script
        src="https://kit.fontawesome.com/81581fb069.js"
        crossorigin="anonymous"
    ></script>
    
</body>
</html>