<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Upn Sounds</title>
	<link rel="stylesheet" href="admin.css" />
</head>

<body>
	<main class="container">

		<!-- Side bar -->
		<nav class="navbar">
			<div class="container-logo" style="margin-left: 80px;">
				<a href="#" class="link-logo">
					<img src="/src/assets/images/adminlogo.png" alt="upn-sound-img" style="width: 110px;">
				</a>
			</div>
			<ul class="nav-main">
				<li>
					<a href="#"> <i class="fa-solid fa-house"></i>Home </a>
				</li>
				<li>
					<a href="#">
						<i class="fa-solid fa-magnifying-glass"></i>Trabajadores</a>
				</li>
				<li>
					<a href="#">
						<i class="fa-solid fa-magnifying-glass"></i>Rating Canciones</a>
				</li>
				<li>
					<a href="#"><i class="fa-solid fa-calendar-days"></i>Rating Artistas</a>
				</li>
				<li>
					<a href="#">
						<i class="fa-solid fa-magnifying-glass"></i>Rating Usuarios</a>
				</li>
				<li>
					<a href="#">
						<i class="fa-solid fa-magnifying-glass"></i>Lista Baneados</a>
				</li>
				<li>
					<a href="#">
						<i class="fa-solid fa-magnifying-glass"></i>Reporte de usuarios</a>
				</li>
				<li>
					<a href="#">
						<i class="fa-solid fa-magnifying-glass"></i>Buscar Usuario</a>
				</li>

			</ul>




		</nav>

		<!-- Lista de músicas -->
		<section class="main-content">
			<!-- 1era lista-->


			<!-- 2da lista-->

			<!-- 3era lista-->

		</section>
	</main>

	<!-- Recurso y Script para el uso de iconos de FontAwesome -->
	<!-- 
			https://fontawesome.com/search?q=library&o=r
		 -->
	<script src="https://kit.fontawesome.com/81581fb069.js" crossorigin="anonymous"></script>

</body>

</html>