<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="moderator.css">
</head>

<body>
    <main class="container">
        <!-- TopBar -->
			<div class="topbar">

			</div>

            <!-- Side bar -->
			<nav class="navbar">
				<div class="container-logo" style="margin-left: 80px;">
					<a href="#" class="link-logo">
							<img src="/src/assets/images/upn-sound.png" alt="upn-sound-img" style="width: 110px;">					
					</a>
				</div>
				<ul class="nav-main">
					<li>
						<a href="/src/view/moderator/moderator.html"> <i class="fa-solid fa-user-slash"></i>Usuarios Baneados</a>
					</li>
					<li>
						<a href="/src/view/moderator/unban-request/unban-rquest.html">
							<i class="fa-solid fa-ban"></i>Solicitudes de Desbaneo</a
						>
					</li>
				</ul>
	
				<div class="container-links">
					<button class="btn-language">
						<i class="fa-solid fa-sign-out"></i>
						Logout
					</button>
				</div>
			</nav>

            <section class="main-content">

                <div id="main-container">
                    <h1 class="title-playlist" style="padding-bottom: 15px; color: #000;">Escuchado Recientemente</h1>

                    <table>
                        <thead>
                            <tr>
                                <th>Nombre</th><th>Correo</th><th>Nro Baneos</th><th>Estado</th><th>Acciones</th>
                            </tr>
                        </thead>
            
                        <tr>
                            <td>Mario gomez</td><td>N04534343@upn.pe</td><td>5</td><td>Baneado</td><td><i class="fa-solid fa-pencil" style="margin-right: 2rem;"></i><i class="fa-solid fa-trash"></i></td>
                        </tr>
                        <tr>
                            <td>Pepe Lucho</td><td>N04534343@upn.pe</td><td>3</td><td>Baneado</td><td><i class="fa-solid fa-pencil" style="margin-right: 2rem;"></i><i class="fa-solid fa-trash"></i></td>
                        </tr>
                        <tr>
                            <td>Michael Jackson</td><td>N04534343@upn.pe</td><td>2</td><td>Limpio</td><td><i class="fa-solid fa-pencil" style="margin-right: 2rem;"></i><i class="fa-solid fa-trash"></i></td>
                        </tr>
                        <tr>
                            <td>El Pepe</td><td>N04534343@upn.pe</td><td>0</td><td>Limpio</td><td><i class="fa-solid fa-pencil" style="margin-right: 2rem;"></i><i class="fa-solid fa-trash"></i></td>
                        </tr>

                    </table>
                </div>

            </section>

    </main>
    <!-- Recurso y Script para el uso de iconos de FontAwesome -->
		<!-- 
			https://fontawesome.com/search?q=library&o=r
		 -->
		<script
        src="https://kit.fontawesome.com/81581fb069.js"
        crossorigin="anonymous"
    ></script>

</body>
</html>
