<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moderador</title>
    <link rel="stylesheet" href="moderator.css">
    <link rel="stylesheet" href="reporteUsuarios.css">
</head>

<body>
    <main class="container">
        <!-- TopBar -->
			<div class="topbar">

			</div>

            <!-- Side bar -->
			<nav class="navbar">
				<div class="container-logo" style="margin-left: 80px;">
					<a href="#" class="link-logo">
							<img src="/src/assets/images/adminlogo.png" alt="upn-sound-img" style="width: 110px;">					
					</a>
				</div>
				<ul class="nav-main">
					<li>
						<a href="/src/view/moderator/moderator.html">
                             <i class="fa-solid fa-house"></i>Inicio </a>
					</li>
					<li>
						<a href="/src/view/moderator/listaUsuarios.html">
							<i class="fa-solid fa-magnifying-glass">
							</i>Lista Usuarios</a>
					</li>
                    <li>
						<a href="/src/view/moderator/listaEventos.html">
							<i class="fa-solid fa-magnifying-glass">
							</i>Lista Eventos</i></a>
					</li>
					<li>
						<a href="/src/view/moderator/solicitudesBan.html"
							><i class="fa-solid fa-magnifying-glass">
							</i>Solicitudes Ban</a
						>
					</li>
					<li>
						<a href="/src/view/moderator/reporteUsuarios.html"
							><i class="fa-solid fa-magnifying-glass">
							</i>Reporte Usuarios</i></a
						>
					</li>
				</ul>
	
				<div class="container-links">
					<button class="btn-language">
						<i class="fa-solid fa-sign-out"></i>
						Logout
					</button>
				</div>
			</nav>

        <section class="main-content2">
            <div class="content">

                <ul class="team">
                    <li class="member">
                        <div class="thumb"><img src="/src/assets/images/user1.png">
                        </div>
                        <div class="description">
                            <h2>Mateo Maza</h2>
                            <p>Faltan aumentar musicas nuevas <br><a
                                    href="https://codepen.io/chriscoyier/">@chriscoyier</a></p>
                        </div>
                    </li>
                    <li class="member">
                        <div class="thumb"><img src="/src/assets/images/user2.png">
                        </div>
                        <div class="description">
                            <h2>Alex Vazquez</h2>
                            <p>Me gustaria personalizar mi interfaz de usuario.<br><a
                                    href="https://codepen.io/quezo/">@quezo</a></p>
                        </div>
                    </li>
                    <li class="member">
                        <div class="thumb"><img src="/src/assets/images/user3.png">
                        </div>
                        <div class="description">
                            <h2>Pablo Castle</h2>
                            <p>Todo bien con la app pero en mensajeria se ...<br><a
                                    href="https://codepen.io/mariemosley/">@castleCas</a></p>
                        </div>
                    </li>
                    <li class="member">
                        <div class="thumb"><img src="/src/assets/images/user4.png">
                        </div>
                        <div class="description">
                            <h2>Stephenany Quispe</h2>
                            <p>Hay un problema en el borde de inicio sobre ...<br><a
                                    href="https://codepen.io/shshaw/">@shshaw</a></p>
                        </div>
                    </li>
                    <li class="member">
                        <div class="thumb"><img src="/src/assets/images/user5.png">
                        </div>
                        <div class="description">
                            <h2>Rachel Smith</h2>
                            <p>El menu de artista anda fallando<br><a
                                    href="https://codepen.io/rachsmith/">@rachsmith</a></p>
                        </div>
                    </li>
                    <li class="member">
                        <div class="thumb"><img src="/src/assets/images/user6.png">
                        </div>
                        <div class="description">
                            <h2>Robert Kieffer</h2>
                            <p>Los servidores a veces son un poco lento<br><a
                                    href="https://codepen.io/broofa/">@broofa</a></p>
                        </div>
                    </li>
                    <li class="member">
                        <div class="thumb"><img src="/src/assets/images/user7.png">
                        </div>
                        <div class="description">
                            <h2>Dee Vazquez</h2>
                            <p>No hay mucha musica<br><a href="https://codepen.io/deequez/">@deequez</a></p>
                        </div>
                    </li>
                </ul>

            </div>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </section>


    </main>

    <script src="https://kit.fontawesome.com/81581fb069.js" crossorigin="anonymous"></script>

</body>

</html>