<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link rel="stylesheet" href="admin.css" />
    <link rel="stylesheet" href="listaBaneados.css" />
</head>

<body>
    <main class="container">

        <!-- Side bar -->
        <nav class="navbar">
            <div class="container-logo" style="margin-left: 80px;">
                <a href="#" class="link-logo">
                    <img src="/src/assets/images/adminlogo.png" alt="upn-sound-img" style="width: 110px;">
                </a>
            </div>
            <ul class="nav-main">
                <li>
                    <a href="/src/view/administrator/admin.html">
                        <i class="fa-solid fa-house"></i>Inicio </a>
                </li>
                <li>
                    <a href="/src/view/administrator/moderadores.html">
                        <i class="fa-solid fa-magnifying-glass"></i>Moderadores
                    </a>
                </li>
                <li>
                    <a href="/src/view/administrator/ratingCanciones.html">
                        <i class="fa-solid fa-magnifying-glass"></i>Rating Canciones</a>
                </li>
                <li>
                    <a href="/src/view/administrator/ratingArtistas.html">
                        <i class="fa-solid fa-calendar-days"></i>Rating Artistas</a>
                </li>
                <li>
                    <a href="/src/view/administrator/ratingUsuarios.html">
                        <i class="fa-solid fa-magnifying-glass"></i>Rating Usuarios</a>
                </li>
                <li>
                    <a href="/src/view/administrator/listaBaneados.html">
                        <i class="fa-solid fa-magnifying-glass"></i>Lista Baneados</a>
                </li>
                <li>
                    <a href="/src/view/administrator/reporteUsuarios.html">
                        <i class="fa-solid fa-magnifying-glass"></i>Reporte de usuarios</a>
                </li>
                <div class="container-links">
                    <button class="btn-language">
                        <i class="fa-solid fa-sign-out"></i>
                        Logout
                    </button>
                </div>

            </ul>
        </nav>

        <section class="main-content2">
            <div class="wrapper">
                <h1>Lista Baneados</h1>
                <br><br><br><br>
                <ol reversed start="10" class="custom-list">
                    <li>
                        <span>Juan Aron</span>
                        <span>Razón: Incumplimiento de las reglas</span>
                        <span>Fecha: 2021-10-10</span>
                    </li>
                    <li>
                        <span>Juan Ro</span>
                        <span>Razón: Incumplimiento de las reglas</span>
                        <span>Fecha: 2021-11-10</span>
                    </li>
                    <li>
                        <span>Carlos Vilca</span>
                        <span>Razón: Incumplimiento de las reglas</span>
                        <span>Fecha: 2021-08-11</span>
                    </li>

                    <li>
                        <span>María González</span>
                        <span>Razón: Uso inapropiado</span>
                        <span>Fecha: 2021-11-15</span>
                    </li>
                    <li>
                        <span>Luis Rodríguez</span>
                        <span>Razón: Comportamiento ofensivo</span>
                        <span>Fecha: 2021-08-20</span>
                    </li>
                    <li>
                        <span>Ana Martínez</span>
                        <span>Razón: Violación de términos</span>
                        <span>Fecha: 2021-09-05</span>
                    </li>

                    <li>
                        <span>Elena Sánchez</span>
                        <span>Razón: Uso inapropiado</span>
                        <span>Fecha: 2021-11-15</span>
                    </li>
                    <li>
                        <span>Javier López</span>
                        <span>Razón: Comportamiento ofensivo</span>
                        <span>Fecha: 2021-08-20</span>
                    </li>
                    <li>
                        <span>Marta García</span>
                        <span>Razón: Violación de términos</span>
                        <span>Fecha: 2021-09-05</span>
                    </li>

                    <li>
                        <span>Andrés Fernández</span>
                        <span>Razón: Uso inapropiado</span>
                        <span>Fecha: 2021-11-15</span>
                    </li>
                    <li>
                        <span>Carmen Díaz</span>
                        <span>Razón: Comportamiento ofensivo</span>
                        <span>Fecha: 2021-08-20</span>
                    </li>
                    <li>
                        <span>Pedro Ruiz</span>
                        <span>Razón: Violación de términos</span>
                        <span>Fecha: 2021-09-05</span>
                    </li>

                </ol>

                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </section>


    </main>

    <script src="https://kit.fontawesome.com/81581fb069.js" crossorigin="anonymous"></script>

</body>

</html>