<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upn Sounds</title>
    <link rel="stylesheet" href="admin.css" />
    <link rel="stylesheet" href="ratingUsuarios.css" />
</head>

<body>
    <main class="container">

        <!-- Side bar -->
        <nav class="navbar">
            <div class="container-logo" style="margin-left: 80px;">
                <a href="#" class="link-logo">
                    <img src="/src/assets/images/adminlogo.png" alt="upn-sound-img" style="width: 110px;">
                </a>
            </div>
            <ul class="nav-main">
                <li>
                    <a href="/src/view/administrator/admin.html">
                        <i class="fa-solid fa-house"></i>Home </a>
                </li>
                <li>
                    <a href="/src/view/administrator/moderadores.html">
                        <i class="fa-solid fa-magnifying-glass"></i>Moderadores
                    </a>
                </li>
                <li>
                    <a href="/src/view/administrator/ratingCanciones.html">
                        <i class="fa-solid fa-magnifying-glass"></i>Rating Canciones</a>
                </li>
                <li>
                    <a href="/src/view/administrator/ratingArtistas.html">
                        <i class="fa-solid fa-calendar-days"></i>Rating Artistas</a>
                </li>
                <li>
                    <a href="/src/view/administrator/ratingUsuarios.html">
                        <i class="fa-solid fa-magnifying-glass"></i>Rating Usuarios</a>
                </li>
                <li>
                    <a href="/src/view/administrator/listaBaneados.html">
                        <i class="fa-solid fa-magnifying-glass"></i>Lista Baneados</a>
                </li>
                <li>
                    <a href="/src/view/administrator/reporteUsuarios.html">
                        <i class="fa-solid fa-magnifying-glass"></i>Reporte de usuarios</a>
                </li>
                <li>
                    <a href="/src/view/administrator/buscarUsuarios.html">
                        <i class="fa-solid fa-magnifying-glass"></i>Buscar Usuario</a>
                </li>

            </ul>
        </nav>

        <section class="main-content2">
            
            <h1>Informacion sobre los usuarios Mes Octubre</h1>

            <div class="wrap">
                <div class="progress-container">
                    <div class="progress-radial progress-25">
                        <div class="overlay">23%</div>
                    </div>
                    <p class="description">Un 23% de usuarios nuevos este mes</p>
                </div>
            
                <div class="progress-container">
                    <div class="progress-radial progress-50">
                        <div class="overlay">46%</div>
                    </div>
                    <p class="description">Aumentaron un 46% de oyentes diario</p>
                </div>
            
                <div class="progress-container">
                    <div class="progress-radial progress-10">
                        <div class="overlay">10%</div>
                    </div>
                    <p class="description">Se redujo los envios de reportes</p>
                </div>
            
                <div class="progress-container">
                    <div class="progress-radial progress-90">
                        <div class="overlay">90%</div>
                    </div>
                    <p class="description">Calificacion segun usuarios</p>
                </div>
            </div>
            
            <br><br><br><br><br><br>
                </section>

    </main>


    <script src="https://kit.fontawesome.com/81581fb069.js" crossorigin="anonymous"></script>

</body>

</html>