<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upn Sounds</title>
    <link rel="stylesheet" href="admin.css" />
    <link rel="stylesheet" href="ratingCanciones.css" />
</head>

<body>
    <main class="container">

        <!-- Side bar -->
        <nav class="navbar">
            <div class="container-logo" style="margin-left: 80px;">
                <a href="#" class="link-logo">
                    <img src="/src/assets/images/adminlogo.png" alt="upn-sound-img" style="width: 110px;">
                </a>
            </div>
            <ul class="nav-main">
                <li>
                    <a href="/src/view/administrator/admin.html">
                        <i class="fa-solid fa-house"></i>Home </a>
                </li>
                <li>
                    <a href="/src/view/administrator/moderadores.html">
                        <i class="fa-solid fa-magnifying-glass"></i>Moderadores
                    </a>
                </li>
                <li>
                    <a href="/src/view/administrator/ratingCanciones.html">
                        <i class="fa-solid fa-magnifying-glass"></i>Rating Canciones</a>
                </li>
                <li>
                    <a href="/src/view/administrator/ratingArtistas.html">
                        <i class="fa-solid fa-calendar-days"></i>Rating Artistas</a>
                </li>
                <li>
                    <a href="/src/view/administrator/ratingUsuarios.html">
                        <i class="fa-solid fa-magnifying-glass"></i>Rating Usuarios</a>
                </li>
                <li>
                    <a href="/src/view/administrator/listaBaneados.html">
                        <i class="fa-solid fa-magnifying-glass"></i>Lista Baneados</a>
                </li>
                <li>
                    <a href="/src/view/administrator/reporteUsuarios.html">
                        <i class="fa-solid fa-magnifying-glass"></i>Reporte de usuarios</a>
                </li>
                <div class="container-links">
                    <button class="btn-language">
                        <i class="fa-solid fa-sign-out"></i>
                        Logout
                    </button>
                </div>
                <!--
                <li>
                    <a href="/src/view/administrator/buscarUsuarios.html">
                        <i class="fa-solid fa-magnifying-glass"></i>Buscar Usuario</a>
                </li>
                -->

            </ul>
        </nav>

        <section class="main-content2">

            <div class="centered-div">
                <h1>Artistas más escuchados por los usuarios Mes Octubre </h1>
                <br><br><br><br><br>
                <table class="graph" style="margin: 0 auto;">
                    <caption>Mes de Octube</caption>
                    <thead>
                        <tr>
                            <th scope="col">Item</th>
                            <th scope="col">Percent</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="height:85%">
                            <th scope="row">LALA</th>
                            <td><span>85%</span></td>
                        </tr>
                        <tr style="height:23%">
                            <th scope="row">Thriller</th>
                            <td><span>23%</span></td>
                        </tr>
                        <tr style="height:7%">
                            <th scope="row">un x100to</th>
                            <td><span>7%</span></td>
                        </tr>
                        <tr style="height:38%">
                            <th scope="row">Primera Cita</th>
                            <td><span>38%</span></td>
                        </tr>
                        <tr style="height:35%">
                            <th scope="row">la Bachata</th>
                            <td><span>35%</span></td>
                        </tr>
                        <tr style="height:30%">
                            <th scope="row">Loba</th>
                            <td><span>30%</span></td>
                        </tr>
                        <tr style="height:5%">
                            <th scope="row">Blood on the Dance Floor</th>
                            <td><span>5%</span></td>
                        </tr>
                        <tr style="height:20%">
                            <th scope="row">Sicko Mode</th>
                            <td><span>20%</span></td>
                        </tr>
                    </tbody>
                </table>


            </div>

            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </section>

    </main>

    <script src="https://kit.fontawesome.com/81581fb069.js" crossorigin="anonymous"></script>

</body>

</html>