<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upn Sounds</title>
    <link rel="stylesheet" href="admin.css" />
    <link rel="stylesheet" href="ratingArtistas.css" />
</head>

<body>
    <main class="container">

        <!-- Side bar -->
        <nav class="navbar">
            <div class="container-logo" style="margin-left: 80px;">
                <a href="#" class="link-logo">
                    <img src="/src/assets/images/adminlogo.png" alt="upn-sound-img" style="width: 110px;">
                </a>
            </div>
            <ul class="nav-main">
                <li>
                    <a href="/src/view/administrator/admin.html">
                        <i class="fa-solid fa-house"></i>Home </a>
                </li>
                <li>
                    <a href="/src/view/administrator/moderadores.html">
                        <i class="fa-solid fa-magnifying-glass"></i>Moderadores
                    </a>
                </li>
                <li>
                    <a href="/src/view/administrator/ratingCanciones.html">
                        <i class="fa-solid fa-magnifying-glass"></i>Rating Canciones</a>
                </li>
                <li>
                    <a href="/src/view/administrator/ratingArtistas.html">
                        <i class="fa-solid fa-calendar-days"></i>Rating Artistas</a>
                </li>
                <li>
                    <a href="/src/view/administrator/ratingUsuarios.html">
                        <i class="fa-solid fa-magnifying-glass"></i>Rating Usuarios</a>
                </li>
                <li>
                    <a href="/src/view/administrator/listaBaneados.html">
                        <i class="fa-solid fa-magnifying-glass"></i>Lista Baneados</a>
                </li>
                <li>
                    <a href="/src/view/administrator/reporteUsuarios.html">
                        <i class="fa-solid fa-magnifying-glass"></i>Reporte de usuarios</a>
                </li>
                <li>
                    <a href="/src/view/administrator/buscarUsuarios.html">
                        <i class="fa-solid fa-magnifying-glass"></i>Buscar Usuario</a>
                </li>

            </ul>
        </nav>

        <section class="main-content">
        </section>

        <section>
        </section>
        <div class="centered-div">
            <h1>Rating resultado de artistas Mes Octubre</h1>

                <div class="chart-wrap"style="margin: 0 auto;">
                    <br><br><br><br>
                    <h2 class="title">Mes de Octube</h2>
                    <div class="grid horizontal">
                    <div class="bar" style="--bar-value:85%;" data-name="The Weeknd" title="The Weeknd 85%"></div>
                          <div class="bar" style="--bar-value:23%;" data-name="Taylor Swift" title="Taylor Swift 23%"></div>
                         <div class="bar" style="--bar-value:7%;" data-name=" Bad Bunny" title=" Bad Bunny 7%"></div>
                          <div class="bar" style="--bar-value:38%;" data-name="Dua Lipa" title="Dua Lipa 38%"></div>
                          <div class="bar" style="--bar-value:35%;" data-name="Ed Sheeran" title="Ed Sheeran 35%"></div>
                          <div class="bar" style="--bar-value:30%;" data-name="Drake" title="Drake 30%"></div>
                          <div class="bar" style="--bar-value:5%;" data-name="Rihanna" title="Rihanna 5%"></div>
                          <div class="bar" style="--bar-value:20%;" data-name="Justin Bieber" title="Justin Bieber 20%"></div>    
                    </div>
                  </div>
        </div>

    </main>

    <script src="https://kit.fontawesome.com/81581fb069.js" crossorigin="anonymous"></script>

</body>

</html>