<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upn Sounds</title>
    <link rel="stylesheet" href="admin.css" />
    <link rel="stylesheet" href="reporteUsuarios.css" />
</head>

<body>
    <main class="container">

        <!-- Side bar -->
        <nav class="navbar">
            <div class="container-logo" style="margin-left: 80px;">
                <a href="#" class="link-logo">
                    <img src="/src/assets/images/adminlogo.png" alt="upn-sound-img" style="width: 110px;">
                </a>
            </div>
            <ul class="nav-main">
                <li>
                    <a href="/src/view/administrator/admin.html">
                        <i class="fa-solid fa-house"></i>Home </a>
                </li>
                <li>
                    <a href="/src/view/administrator/moderadores.html">
                        <i class="fa-solid fa-magnifying-glass"></i>Moderadores
                    </a>
                </li>
                <li>
                    <a href="/src/view/administrator/ratingCanciones.html">
                        <i class="fa-solid fa-magnifying-glass"></i>Rating Canciones</a>
                </li>
                <li>
                    <a href="/src/view/administrator/ratingArtistas.html">
                        <i class="fa-solid fa-calendar-days"></i>Rating Artistas</a>
                </li>
                <li>
                    <a href="/src/view/administrator/ratingUsuarios.html">
                        <i class="fa-solid fa-magnifying-glass"></i>Rating Usuarios</a>
                </li>
                <li>
                    <a href="/src/view/administrator/listaBaneados.html">
                        <i class="fa-solid fa-magnifying-glass"></i>Lista Baneados</a>
                </li>
                <li>
                    <a href="/src/view/administrator/reporteUsuarios.html">
                        <i class="fa-solid fa-magnifying-glass"></i>Reporte de usuarios</a>
                </li>
                <li>
                    <a href="/src/view/administrator/buscarUsuarios.html">
                        <i class="fa-solid fa-magnifying-glass"></i>Buscar Usuario</a>
                </li>

            </ul>
        </nav>

        <section class="main-content2">
            <div class="content">

                <ul class="team">
                    <li class="member">
                        <div class="thumb"><img
                                src="/src/assets/images/user1.png">
                        </div>
                        <div class="description">
                            <h2>Mateo Maza</h2>
                            <p>Faltan aumentar musicas nuevas <br><a
                                    href="https://codepen.io/chriscoyier/">@chriscoyier</a></p>
                        </div>
                    </li>
                    <li class="member">
                        <div class="thumb"><img
                                src="/src/assets/images/user2.png">
                        </div>
                        <div class="description">
                            <h2>Alex Vazquez</h2>
                            <p>Me gustaria personalizar mi interfaz de usuario.<br><a
                                    href="https://codepen.io/quezo/">@quezo</a></p>
                        </div>
                    </li>
                    <li class="member">
                        <div class="thumb"><img
                                src="/src/assets/images/user3.png">
                        </div>
                        <div class="description">
                            <h2>Pablo Castle</h2>
                            <p>Todo bien con la app pero en mensajeria se ...<br><a
                                    href="https://codepen.io/mariemosley/">@castleCas</a></p>
                        </div>
                    </li>
                    <li class="member">
                        <div class="thumb"><img
                                src="/src/assets/images/user4.png">
                        </div>
                        <div class="description">
                            <h2>Stephenany Quispe</h2>
                            <p>Hay un problema en el borde de inicio sobre ...<br><a href="https://codepen.io/shshaw/">@shshaw</a></p>
                        </div>
                    </li>
                    <li class="member">
                        <div class="thumb"><img
                            src="/src/assets/images/user5.png">
                        </div>
                        <div class="description">
                            <h2>Rachel Smith</h2>
                            <p>El menu de artista anda fallando<br><a
                                    href="https://codepen.io/rachsmith/">@rachsmith</a></p>
                        </div>
                    </li>
                    <li class="member">
                        <div class="thumb"><img
                            src="/src/assets/images/user6.png">
                        </div>
                        <div class="description">
                            <h2>Robert Kieffer</h2>
                            <p>Los servidores a veces son un poco lento<br><a href="https://codepen.io/broofa/">@broofa</a></p>
                        </div>
                    </li>
                    <li class="member">
                        <div class="thumb"><img
                            src="/src/assets/images/user7.png">
                        </div>
                        <div class="description">
                            <h2>Dee Vazquez</h2>
                            <p>No hay mucha musica<br><a
                                    href="https://codepen.io/deequez/">@deequez</a></p>
                        </div>
                    </li>
                </ul>
                
            </div>
            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        </section>


    </main>

    <script src="https://kit.fontawesome.com/81581fb069.js" crossorigin="anonymous"></script>

</body>

</html>