<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<title>Upn Sounds</title>
		<link rel="stylesheet" href="home.css" />
	</head>
	<body>
		<main class="container">
			<!-- TopBar -->
			<div class="topbar">
				<div class="container-arrows">
					<div class="container-arrow-left">
						<i class="fa-solid fa-chevron-left"></i>
					</div>
					<div class="container-arrow-right">
						<i class="fa-solid fa-chevron-right"></i>
					</div>
				</div>
				<div class="buttons-user">
					<a href="#" class="btn-premium">Premium</a>
					<div class="pipe"></div>
					<a href="/src/view/user/Register/register.html" class="btn-register">Registrarte</a>
					<a href="/src/view/user/login/login.html" class="btn-login btn-full">Iniciar sesión</a>
				</div>
			</div>
			<!-- Side bar -->
			<nav class="navbar">
				<div class="container-logo" style="margin-left: 80px;">
					<a href="#" class="link-logo">
							<img src="/src/assets/images/upn-sound.png" alt="upn-sound-img" style="width: 110px;">					
					</a>
				</div>
				<ul class="nav-main">
					<li>
						<a href="#"> <i class="fa-solid fa-house"></i>Inicio </a>
					</li>
					<li>
						<a href="#">
							<i class="fa-solid fa-magnifying-glass"></i>Buscar</a
						>
					</li>
					<li>
						<a href="#"
							><i class="fa-solid fa-calendar-days"></i>Eventos</a
						>
					</li>
					<li>
						<a href="#"
							><i class="fa-solid fa-book"></i>Tu biblioteca</a
						>
					</li>
				</ul>

				<div class="contacts">
					<button class="btn-create-list">
						<i class="fa-solid "></i>
						Contactos
					</button>
					<button class="btn-create-list">
						<div class="user-avatar">
							<img src="/src/assets/images/logo.ico" style="width: 50px; border-radius: 50%;" alt="User Avatar">
							<i class="fa-solid fa-circle user-status" style="color: #149603; font-size: 1.5rem;"></i>
						</div>
						<span>Mario Gomez</span>
					</button>
					<button class="btn-create-list">
						<div class="user-avatar">
							<img src="/src/assets/images/logo.ico" style="width: 50px; border-radius: 50%;" alt="User Avatar">
							<i class="fa-solid fa-circle user-status" style="color: #b0b0b0; font-size: 1.5rem;"></i>
						</div>
						<span>Mario Gomez</span>
					</button>
					<button class="btn-create-list">
						<div class="user-avatar">
							<img src="/src/assets/images/logo.ico" style="width: 50px; border-radius: 50%;" alt="User Avatar">
							<i class="fa-solid fa-circle-minus user-status" style="color: #a50303; font-size: 1.5rem;"></i>
						</div>
						<span>Mario Gomez</span>
					</button>
					<button class="btn-create-list">
						<div class="user-avatar">
							<img src="/src/assets/images/logo.ico" style="width: 50px; border-radius: 50%;" alt="User Avatar">
							<i class="fa-solid fa-circle user-status" style="color: #149603; font-size: 1.5rem;"></i>
						</div>
						<span>Mario Gomez</span>
					</button>
					<button class="btn-create-list">
						<div class="user-avatar">
							<img src="/src/assets/images/logo.ico" style="width: 50px; border-radius: 50%;" alt="User Avatar">
							<i class="fa-solid fa-circle user-status" style="color: #149603; font-size: 1.5rem;"></i>
						</div>
						<span>Mario Gomez</span>
					</button>
					<button class="btn-create-list">
						<div class="user-avatar">
							<img src="/src/assets/images/logo.ico" style="width: 50px; border-radius: 50%;" alt="User Avatar">
							<i class="fa-solid fa-circle user-status" style="color: #149603; font-size: 1.5rem;"></i>
						</div>
						<span>Mario Gomez</span>
					</button>
					<button class="btn-create-list">
						<div class="user-avatar">
							<img src="/src/assets/images/logo.ico" style="width: 50px; border-radius: 50%;" alt="User Avatar">
							<i class="fa-solid fa-circle user-status" style="color: #149603; font-size: 1.5rem;"></i>
						</div>
						<span>Mario Gomez</span>
					</button>
					<button class="btn-create-list">
						<div class="user-avatar">
							<img src="/src/assets/images/logo.ico" style="width: 50px; border-radius: 50%;" alt="User Avatar">
							<i class="fa-solid fa-circle user-status" style="color: #149603; font-size: 1.5rem;"></i>
						</div>
						<span>Mario Gomez</span>
					</button>
					<button class="btn-create-list">
						<div class="user-avatar">
							<img src="/src/assets/images/logo.ico" style="width: 50px; border-radius: 50%;" alt="User Avatar">
							<i class="fa-solid fa-circle-minus user-status" style="color: #a50303; font-size: 1.5rem;"></i>
						</div>
						<span>Mario Gomez</span>
					</button>
					<button class="btn-create-list">
						<div class="user-avatar">
							<img src="/src/assets/images/logo.ico" style="width: 50px; border-radius: 50%;" alt="User Avatar">
							<i class="fa-solid fa-circle-minus user-status" style="color: #a50303; font-size: 1.5rem;"></i>
						</div>
						<span>Mario Gomez</span>
					</button>
					<button class="btn-create-list">
						<div class="user-avatar">
							<img src="/src/assets/images/logo.ico" style="width: 50px; border-radius: 50%;" alt="User Avatar">
							<i class="fa-solid fa-circle-minus user-status" style="color: #a50303; font-size: 1.5rem;"></i>
						</div>
						<span>Mario Gomez</span>
					</button>
					<button class="btn-favorite-songs">
						<i class="fa-solid fa-caret-down"></i>
						Vér mas amigos
					</button>
				</div>
				
				<div class="container-links">
					<button class="btn-language">
						<i class="fa-solid fa-sign-out"></i>
						Logout
					</button>
				</div>
			</nav>
			<!-- Lista de músicas -->
			<section class="main-content">
				<!-- 1era lista-->
				<div class="container-name-recent">
					<h1 class="title-playlist">Escuchado Recientemente</h1>
					<div class="container-card-recent" >
						<div class="card-recent">
							<a class="card" href="#" data-url="#">
								<div class="card-img">
									<img
										src="/src/assets/images/logo.ico"
										alt="img"
									/>
								</div>
								<h2>Musica</h2>
								<p>Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
							</a>
						</div>
						<div class="card-recent">
							<a class="card"  data-url="#">
								<div class="card-img">
									<img
										src="/src/assets/images/logo.ico"
										alt="img"
									/>
								</div>
								<h2>Musica</h2>
								<p>
									Lorem ipsum dolor sit, amet consectetur adipisicing.
								</p>
							</a>
						</div>
						<div class="card-recent">
							<a class="card" data-url="#">
								<div class="card-img" >
									<img
										src="/src/assets/images/logo.ico"
										alt="img"
									/>
								</div>
								<h2>Musica</h2>
								<p>Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
							</a>
						</div>
						<div class="card-recent">
							<a class="card" data-url="#">
								<div class="card-img">
									<img
										src="/src/assets/images/logo.ico"
										alt="img"
									/>
								</div>
								<h2>Musica</h2>
								<p>Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
							</a>
						</div>
						<div class="card-recent">
							<a class="card"  data-url="#">
								<div class="card-img" >
									<img
										src="/src/assets/images/logo.ico"
										alt="img"
									/>
								</div>
								<h2>Musica</h2>
								<p>Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
							</a>
						</div>
						<div class="card-recent">
							<a class="card"  data-url="#">
								<div class="card-img">
									<img
										src="/src/assets/images/logo.ico"
										alt="img"
									/>
								</div>
								<h2>Musica</h2>
								<p>Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
							</a>
						</div>
						<div class="card-recent">
							<a class="card"  data-url="#">
								<div class="card-img">
									<img
										src="/src/assets/images/logo.ico"
										alt="img"
									/>
								</div>
								<h2>Musica</h2>
								<p>Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
							</a>
						</div>
					</div>
				</div>

				<!-- 2da lista-->
				<div class="container-name-forMe">
					<h1 class="title-playlist">
						Hecho para User
					</h1>

					<div class="container-card-forMe">
						<div class="card-forMe">
							<a class="card"  data-url="#">
								<div class="card-img">
									<img src="/src/assets/images/logo.ico" alt="img">
								</div>
								<h2>Mix Cumbia</h2>
								<p>Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
							</a>
						</div>
						<div class="card-forMe">
							<a class="card"  data-url="#">
								<div class="card-img">
									<img
										src="/src/assets/images/logo.ico"
										alt="img"
									/>
								</div>
								<h2>Mix Cumbia</h2>
								<p>Lorem ipsum dolor sit, amet consectetur adipisicing.
								</p>
							</a>
						</div>
						<div class="card-forMe">
							<a class="card"  data-url="#">
								<div class="card-img">
									<img
										src="/src/assets/images/logo.ico"
										alt="img"
									/>
								</div>
								<h2>Mix Cumbia</h2>
								<p>Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
							</a>
						</div>
						<div class="card-forMe">
							<a class="card"  data-url="#">
								<div class="card-img">
									<img
										src="/src/assets/images/logo.ico"
										alt="imgs"
									/>
								</div>
								<h2>Mix Cumbia</h2>
								<p>
									Lorem ipsum dolor sit, amet consectetur adipisicing.
								</p>
							</a>
						</div>
						<div class="card-forMe">
							<a class="card"  data-url="#">
								<div class="card-img">
									<img
										src="/src/assets/images/logo.ico"
										alt="img"
									/>
								</div>
								<h2>Mix Cumbia</h2>
								<p>Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
							</a>
						</div>
						<div class="card-forMe">
							<a class="card"  data-url="#">
								<div class="card-img">
									<img
										src="/src/assets/images/logo.ico"
										alt="img"
									/>
								</div>
								<h2>Mix Cumbia</h2>
								<p>
									Lorem ipsum dolor sit, amet consectetur adipisicing.
								</p>
							</a>
						</div>
						<div class="card-forMe">
							<a class="card"  data-url="#">
								<div class="card-img">
									<img
										src="/src/assets/images/logo.ico"
										alt="img"
									/>
								</div>
								<h2>Mix Cumbia</h2>
								<p>
									Lorem ipsum dolor sit, amet consectetur adipisicing.
								</p>
							</a>
						</div>
					</div>
				</div>

				<!-- 3era lista-->
				<div class="container-name-forMe">
					<h1 class="title-playlist">
						Hecho para User
					</h1>

					<div class="container-card-forMe">
						<div class="card-forMe">
							<a class="card"  data-url="#">
								<div class="card-img">
									<img src="/src/assets/images/logo.ico" alt="img">
								</div>
								<h2>Mix Cumbia</h2>
								<p>Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
							</a>
						</div>
						<div class="card-forMe">
							<a class="card"  data-url="#">
								<div class="card-img">
									<img
										src="/src/assets/images/logo.ico"
										alt="img"
									/>
								</div>
								<h2>Mix Cumbia</h2>
								<p>Lorem ipsum dolor sit, amet consectetur adipisicing.
								</p>
							</a>
						</div>
						<div class="card-forMe">
							<a class="card"  data-url="#">
								<div class="card-img">
									<img
										src="/src/assets/images/logo.ico"
										alt="img"
									/>
								</div>
								<h2>Mix Cumbia</h2>
								<p>Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
							</a>
						</div>
						<div class="card-forMe">
							<a class="card"  data-url="#">
								<div class="card-img">
									<img
										src="/src/assets/images/logo.ico"
										alt="img"
									/>
								</div>
								<h2>Mix Cumbia</h2>
								<p>
									Lorem ipsum dolor sit, amet consectetur adipisicing.
								</p>
							</a>
						</div>
						<div class="card-forMe">
							<a class="card"  data-url="#">
								<div class="card-img">
									<img
										src="/src/assets/images/logo.ico"
										alt="img"
									/>
								</div>
								<h2>Mix Cumbia</h2>
								<p>Lorem ipsum dolor sit, amet consectetur adipisicing.</p>
							</a>
						</div>
						<div class="card-forMe">
							<a class="card"  data-url="#">
								<div class="card-img">
									<img
										src="/src/assets/images/logo.ico"
										alt="img"
									/>
								</div>
								<h2>Mix Cumbia</h2>
								<p>
									Lorem ipsum dolor sit, amet consectetur adipisicing.
								</p>
							</a>
						</div>
						<div class="card-forMe">
							<a class="card"  data-url="#">
								<div class="card-img">
									<img
										src="/src/assets/images/logo.ico"
										alt="img"
									/>
								</div>
								<h2>Mix Cumbia</h2>
								<p>
									Lorem ipsum dolor sit, amet consectetur adipisicing.
								</p>
							</a>
						</div>
					</div>
				</div>				
			</section>
		</main>
		<!-- Recurso y Script para el uso de iconos de FontAwesome -->
		<!-- 
			https://fontawesome.com/search?q=library&o=r
		 -->
		<script
			src="https://kit.fontawesome.com/81581fb069.js"
			crossorigin="anonymous"
		></script>
		<!-- Script home -->
		<script src="home.js"></script>
	</body>
</html>
